*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px
}
h1 {
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    font-style: bold;
}
    

button {
    width: 90px;
    height: 40px;
    color:white;
    background-color: rgb(77, 35, 107);
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    position: relative;
    border-radius: 10px;
    font-style: bold;
}

button:hover {
    opacity: 50%;
}

#questiontitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;
    font-size: 20px;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 700px;
    list-style-type: none;
    font-weight: 700;
    margin-left: 400px;
    margin-right: 400px;
}

#questiontitle ul{
    font-weight: 500;
    font-style: bold;
}

/* #questiontitle button {
    right: 150px;

} */

#homepage {
    font-size: 20px;
}