*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    padding: 10px
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    display: block;
    /* top: 400px;
    bottom: 400px; */

}

button {
    width: 90px;
    height: 40px;
    color:white;
    background-color: purple;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

#questiontitle{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    display: block;
    font-size: 20px;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 700px;
    list-style-type: none;
}

#questiontitle ul{
    list-style-type: none;
}